include layout

block content
    link(rel='stylesheet', href='/stylesheets/events.css')
    div.Main
        include mixins/companyCard
        div.container
            each CompanyInfo in companyInfoObj
                if(CompanyInfo.category.includes('Cash Aid'))
                    +companyCard(CompanyInfo)