include layout

block content
    link(rel='stylesheet', href='/stylesheets/events.css')
    div.Main
        include mixins/EventCard
        div.container
            div.add-button-row
                a.button.save(href='/add') Add Event
        div.container
            form(action='/events' method='get')
                div.form-input
                    label(for= 'zipcode') zipcode
                    select(id='zipcode' name='zipcode' autocomplete='off')
                        each zipcode in zipcodes
                            option(value=zipcode selected = (zipcode === searchZipcode)) #{zipcode}

            each event in events
                +EventCard(event)