include layout

block content
    link(rel='stylesheet', href='/stylesheets/events.css')
    div.Main
        include mixins/companyCard
        div.container
            form(action='/company' method='get')
                each CompanyInfo in companyInfoObj
                    +companyCard(CompanyInfo)