include layout
  div.iconcontainer
    div.row
      a(href='/cashaid')
        img(src="https://i.ibb.co/GtpxxK8/Cash-Aid.png")
      a(href='/fostering')
        img(src="https://i.ibb.co/cL0NsxG/Fostering.png")
    div.row
      a(href='/housing')
        img(src="https://i.ibb.co/2nQmmXX/Housing.png")
      a(href='/inhome')
        img(src="https://i.ibb.co/2SY9MmG/In-Home.png")
    div.row
      a(href='/legalaid')
        img(src="https://i.ibb.co/wwdcTKP/Legal-Aid.png")
      a(href='/nutrition')
        img(src="https://i.ibb.co/3sjH17N/Nutrition.png")