doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content
      div.navbar
        ul(class='nav')
          li
            a(href='/events') Events
          li
            a(href='/')  Home
          li
            a(href='/notifications') Notification