include layout

block content
    link(rel='stylesheet', href='/stylesheets/events.css')
    div.Main
        include mixins/companyCard
        div.container
            form(action='/legalaid' method='post')
                div.form-input
                    label(for= 'zipcode') zipcode
                    select(id='zipcode' name='zipcode' autocomplete='off')
                        each zipcode in zipcodes
                            option(value=zipcode) #{zipcode}