include layout

block content
    div.main
        div.card
            div.card-header
                div.backdrop
                div.card-title Event Holder
                img.card-header-image(src='placeholder')
            div.card-body
                div.description