mixin companyCard(companyinfo)

    div.card
        div.card-header
            div.backdrop
            div.card-title=companyinfo.name
        div.card-body
            div.card-details
                div.address= companyinfo.address
                    div.zip
                div.number= companyinfo.number
                div.

